body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.637);
  color: #333;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#searchInput {
  width: 60%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.post-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.post-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

.post-body {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}

.post-tags {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 15px;
}

.post-tags span {
  margin-right: 8px;
  background-color: #e7f3ff;
  color: #0073e6;
  padding: 5px 8px;
  border-radius: 12px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
}

.post-footer .left,
.post-footer .right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  font-size: 1.2rem;
}

.like-icon {
  color: green;
}

.dislike-icon {
  color: red;
}

.view-icon {
  color: #0073e6;
}
